name: status check

on:
  pull_request:
    branches:
      - '*'         # matches every branch that doesn't contain a '/'
      - '*/*'       # matches every branch containing a single '/'
      - '**'        # matches every branch
      - '!gh-pages'   # excludes master

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "17"

      - name: Install Dependencies
        run: npm install

      - name: Make envfile
        uses: SpicyPizza/create-envfile@v1.3
        with:
          envkey_VITE_EXAMPLE: test

      - name: Build
        run: echo ${{ secrets.BASEPATH }}

      - name: Build
        run: npm run build
        env:
          CI: true
          GITHUB_PAGES: ${{ secrets.BASEPATH }}
          GITHUB_BASEPATH: ${{ secrets.USE_PAGES }}

      - name: check format
        run: npm run format

      - name: check lint
        run: npm run lint

      - name: check svelte-check
        run: npm run check

      - name: check test
        run: npm run test
