name: GitHub Pages

on:
  push:
    branches:
      - main
  # release:
  #   types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "17"

      - name: Install Dependencies
        run: npm install

    steps:
    - name: Make envfile
      uses: SpicyPizza/create-envfile@v1.3
      with:
        VITE_EXAMPLE: test

      - name: Build
        run: npm run build
        env:
          CI: true
          GITHUB_PAGES: true
          GITHUB_BASEPATH: /sveltejs-template-base

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
